.App {
  text-align: center;
}

main {
  margin-top: 100px;
  height: 80vh;
}

nav {
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: blue;
  color: white;
}

.links {
  display: flex;
  margin: 0 50px;
}

.link {
  text-decoration: none;
  color: white;
  padding: 0 30px;
}

button {
  background-color: blue;
  color: white;
  border: none;
  font-size: 1.5em;
  height: 50px;
  width: 250px;
}