:root {
  --base: #006BA6;
  --cream: #5DA271;
  --cognac: #EDAE49;
  --green: #F05D5E;
  --pink: #E7DFE8;
}

.App {
  text-align: center;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.unsplash.com/photo-1524069290683-0457abfe42c3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  height: 40vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

main {
  margin-top: 50px;
  min-height: 80vh;
}

nav {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 50px;
  background-color: blue;
  color: white;
}

.links {
  display: flex;
  margin: 0 50px;
}

.link {
  text-decoration: none;
  color: white;
  padding: 0 30px;
}

button {
  background-color: blue;
  color: white;
  border: none;
  font-size: 1.5em;
  height: 50px;
  width: 250px;
}


